<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>Alejandro del Río Santiago Blog - Entrepreneur and engineer</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Alejandro del Río Santiago (@adelriosantiago) is an entrepreneur and programmer from Guadalajara, México. He codes, writes and designs."
    />
    <meta
      name="keywords"
      content="adelriosantiago, @adelriosantiago, visualization, interaction, design, interface, startup, entrepreneur, engineer"
    />
    <meta name="author" content="Alejandro del Río Santiago" />
    <meta name="abstract" content="Alejandro del Río Santiago - Blog" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <script src="javascripts/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="stylesheets/foundation.css" />
    <link rel="stylesheet" href="stylesheets/custom.css" />
    <link
      rel="stylesheet"
      href="fonts/flag-icon-css-master/css/flag-icon.css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Rambla:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Old working CDN icon set -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />
  </head>
  <body id="main-spa">
    <!-- Load Google analytics -->
    <script>
      ;(function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r
        ;(i[r] =
          i[r] ||
          function () {
            ;(i[r].q = i[r].q || []).push(arguments)
          }),
          (i[r].l = 1 * new Date())
        ;(a = s.createElement(o)), (m = s.getElementsByTagName(o)[0])
        a.async = 1
        a.src = g
        m.parentNode.insertBefore(a, m)
      })(
        window,
        document,
        "script",
        "//www.google-analytics.com/analytics.js",
        "ga"
      )
      ga("create", "UA-43591418-3", "auto")
      ga("send", "pageview")
    </script>

    <!-- Webpage -->
    <section
      id="section_main"
      class="fullpage pt-section white"
      data-name="Inicio"
    >
      <div class="row">
        <!--TODO: Create other language sections and enable this part -->

        <!-- <p id='langbar' class='margin-top-med absolute'>English | Spanish | Italian</p> -->
        <div
          class="large-6 large-centered medium-8 medium-centered small-8 small-centered columns"
        >
          <div id="profile-info">
            <img class="round-image" src="/images/me2-gray.jpg" />

            <div id="name">
              <!-- <h1 id='first'>Alejandro</h1>
							<h1 id='sur'>del Río</h1> -->
              <h1 class="text-center name-under-logo">
                ALEJANDRO <span class="grayed">DEL RÍO SANTIAGO</span>
              </h1>
            </div>
            <div class="or-spacer">
              <div class="mask"></div>
            </div>
            <div class="margin-top-med margin-bottom-large text-justified">
              <h5>
                Hi! I'm Alex! B.Sc. in Electronics and Computer Science
                Engineering. I am a
                <strong>software developer & IT consultant</strong>. My fields
                of expertise are <strong>JS/Node.JS</strong>,
                <strong>data science</strong>, and
                <strong>data visualization</strong>.
              </h5>
            </div>
          </div>
        </div>
        <div
          class="large-10 large-centered medium-10 medium-centered small-10 small-centered columns"
        >
          <div class="margin-bottom-med">
            <div class="row">
              <div class="text-center">
                <h6>
                  Follow me on the social networks or read more about me at my
                  blog.
                </h6>

                <div id="centerDiv">
                  <div class="socialFooter">
                    <a
                      href="https://twitter.com/adelriosantiago"
                      target="_blank"
                      ><i class="fab hoves fa-3x fa-twitter"></i
                    ></a>
                    <a
                      href="https://mx.linkedin.com/in/adelriosantiago"
                      target="_blank"
                      ><i class="fab hoves fa-3x fa-linkedin"></i
                    ></a>
                    <a
                      href="https://www.instagram.com/a.delrio.santiago/"
                      target="_blank"
                      ><i class="fab hoves fa-3x fa-instagram"></i
                    ></a>
                    <a
                      href="http://stackoverflow.com/users/1996066/adelriosantiago"
                      target="_blank"
                      ><i class="fab hoves fa-3x fa-stack-overflow"></i
                    ></a>
                    <a href="https://github.com/adelriosantiago" target="_blank"
                      ><i class="fab hoves fa-3x fa-github"></i
                    ></a>
                    <!-- <a href="#" target='_blank'><i class="fa hoves fa-3x fa-disqus"></i></a> -->
                    <!-- TODO: Add disqus network -->
                    <a
                      href="https://pinterest.com/adelriosantiago/"
                      target="_blank"
                      ><i class="fab hoves fa-3x fa-pinterest"></i
                    ></a>
                    <!-- <a
                      href="https://www.tradingview.com/u/adelriosantiago"
                      target="_blank"
                      ><i class="fas hoves fa-3x fa-comment-dollar"></i
                    ></a> -->
                    <!-- <a href="https://en.wikipedia.org/wiki/User:Adelriosantiago" target='_blank'><i class="fa hoves fa-3x fa-wikipedia-w"></i></a> -->
                    <!-- TODO: Fix the sizing of this, look at https://github.com/FortAwesome/Font-Awesome/issues/8221 -->
                    <a
                      class="easy-modal-open"
                      href="#"
                      data-reveal-id="skype"
                      target="_blank"
                      ><i class="fab hoves fa-3x fa-skype"></i
                    ></a>
                    <a
                      class="easy-modal-open"
                      href="#"
                      data-reveal-id="phone"
                      target="_blank"
                      ><i class="fas hoves fa-3x fa-phone-square-alt"></i
                    ></a>
                    <a
                      class="easy-modal-open"
                      href="#"
                      data-reveal-id="whatsapp"
                      target="_blank"
                      ><i class="fab hoves fa-3x fa-whatsapp"></i
                    ></a>
                    <a
                      class="easy-modal-open"
                      href="#"
                      data-reveal-id="telegram"
                      target="_blank"
                      ><i class="fab hoves fa-3x fa-telegram"></i
                    ></a>
                    <a
                      class="easy-modal-open"
                      href="#"
                      data-reveal-id="bitcoin"
                      target="_blank"
                      ><i class="fab hoves fa-3x fa-bitcoin"></i
                    ></a>
                    <!-- <a
                      class="easy-modal-open"
                      href="#"
                      data-reveal-id="snapchat"
                      target="_blank"
                      ><i class="fa hoves fa-3x fa-snapchat"></i
                    ></a> -->
                    <a
                      class="easy-modal-open"
                      href="#"
                      data-reveal-id="mail"
                      target="_blank"
                      ><i class="far hoves fa-3x fa-envelope"></i
                    ></a>
                    <a class="relative" href="<%= hostname %>gitblog">
                      <i class="fas hoves fa-3x fa-newspaper">
                        <p class="blog-legend absolute">Blog</p>
                      </i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="or-spacer">
						<div class="mask"></div>
					</div>
					<div class='text-center'>
						<p class='color-gray margin-top-small'>© 2015 Alejandro del Río</p>
						<p></p>
					</div> -->
        </div>
      </div>
    </section>

    <!-- Modals -->
    <div id="snapchat" class="reveal-modal small" data-reveal role="dialog">
      <img src="/images/snapchat-qr-white.png" />
    </div>

    <div
      id="skype"
      class="reveal-modal small"
      data-reveal
      aria-hidden="true"
      role="dialog"
    >
      <br />
      <h5 class="text-center">Skype ID: adelriosantiago</h5>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      <br />
    </div>
    <div
      id="phone"
      class="reveal-modal small"
      data-reveal
      aria-hidden="true"
      role="dialog"
    >
      <br />
      <h5 class="text-center">
        <span class="flag-icon flag-icon-us"></span> Phone: <em>+1</em> 484 862
        9092
      </h5>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      <br />
    </div>
    <div
      id="whatsapp"
      class="reveal-modal small"
      data-reveal
      aria-hidden="true"
      role="dialog"
    >
      <br />
      <h5 class="text-center">
        <span class="flag-icon flag-icon-mx"></span> Whatsapp: <em>+52</em> 1 33
        1471 5215
      </h5>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      <br />
    </div>
    <div
      id="telegram"
      class="reveal-modal small"
      data-reveal
      aria-hidden="true"
      role="dialog"
    >
      <br />
      <h5 class="text-center">
        <span class="flag-icon flag-icon-ch"></span> Telegram: <em>+41</em> 79
        456 81 46 <br /><br />ID: @adelriosantiago
      </h5>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      <br />
    </div>
    <div
      id="bitcoin"
      class="reveal-modal small"
      data-reveal
      aria-hidden="true"
      role="dialog"
    >
      <br />
      <h5 class="text-center">Bitcoin address:</h5>
      <img
        src="images/bitcoin-address.jpg"
        style="display: block; margin: auto;"
      />
      <h5 class="text-center">1Nbhqpi2CWu8a6WPyVajUxoXRNyN53dEzX</h5>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      <br />
    </div>
    <div id="mail" class="reveal-modal small" data-reveal role="dialog">
      <br />
      <h5 class="text-center">Address:<br /><br />adelriosantiago@gmail.com</h5>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      <br />
    </div>

    <script src="javascripts/vendor/jquery.js"></script>
    <script src="javascripts/foundation.min.js"></script>
    <script>
      $(document).foundation()
    </script>
  </body>
</html>
