<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>gitarticle testing</title>
	<meta name="description" content="testing">
	<meta name="author" content="testing">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<h1>gitlog</h1>
	<%= gitlog %>
	<h1>articles</h1>
</body>
</html>